<?xml version="1.0"?>
<launch>
    <group ns="robot1">
    <param name="tf_prefix" value="robot1_tf" />
    <include file="$(find multi_robot)/launch/test.launch" >
      <!-- <arg name="init_pose" value="-x 1 -y 1 -z 0" /> -->
      <arg name="robot_name"  value="Robot1" />
    </include>
  </group>
</launch>